# Copy this file to .env and set real values per environment.
# Do not commit .env.

DB_HOST=185.199.220.110
DB_NAME=timetvmcorg_mosquesuk
DB_USER=timetvmcorg_mosquesuk1
DB_PASSWORD=mosquesuk11

APP_ENV=production
APP_DEBUG=false
